@use "variables" as vars;
@use "mixins" as *;

.toggle-password {
    background-color: vars.$bg-color-primary;
    color: vars.$text-color-primary;
    cursor: pointer;
    border: none;
    background: transparent;


    &:hover {
        background-color: vars.$primary-dark-color;
        color: vars.$text-color-primary-dark;
    }
}