@use "variables" as vars;
@use "mixins" as *;


.app-container {
    display: flex;
    align-items: stretch;
}

#main-content.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.pagos-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.125rem 0;
}

.pagos-card {
    padding: 1.5rem;
    width: 100%;
    max-width: 1100px;
    border-radius: 0.875rem;
}

.pagos-inner {
    background: vars.$bg-color-secondary;
    border-radius: 0.75rem;
    padding: 1.25rem;
    min-height: 260px;

    html[data-bs-theme="dark"] & {
        background: vars.$bg-color-primary-dark;
    }
}

th {
    background-color: vars.$bg-color-primary;
    color: vars.$text-color-secondary;

    html[data-bs-theme="dark"] & {
        background-color: vars.$bg-color-primary;
        color: vars.$text-color-tertiary-dark;
    }
}

td {
    background-color: vars.$bg-color-tertiary;


    html[data-bs-theme="dark"] & {
        background-color: vars.$bg-color-secondary-dark;
    }
}

#buscador-mes {
    background-color: vars.$bg-color-form;
    margin-bottom: 1rem;
    max-width: 360px;

    html[data-bs-theme="dark"] & {
        background-color: vars.$bg-color-secondary-dark;
    }
}