  $bg-color-primary: #1b4965;
  $bg-color-secondary: #f6f6f6;
  $bg-color-tertiary: #fffdf9;
  $bg-color-form: #E8E8E8;

  $text-color-primary: #1b4965;
  $text-color-secondary: #f6f6f6;

  $font-title: "Roboto", sans-serif;
  $font-subtitle: "Montserrat", sans-serif;
  $font-button: "Roboto", sans-serif;

  $primary: $bg-color-primary;
  $secondary: $bg-color-secondary;
  $tertiary: $bg-color-tertiary;